[Unit]
Description=CMS Checker

[Service]
User=cmsuser
Group=cmsuser
RuntimeDirectory=cms

ExecStart=/usr/bin/cmsChecker

[Install]
WantedBy=multi-user.target
