[Unit]
Description=CMS Worker
PartOf=cms.target
After=haproxy.service

[Service]
User=cmsuser
Group=cmsuser
RuntimeDirectory=cms

EnvironmentFile=-/etc/cms_aws_access_key.env
ExecStart=/usr/bin/cmsWorker

[Install]
WantedBy=cms.target
