[Unit]
Description=CMS RankingWebServer
PartOf=cms.target

[Service]
User=cmsuser
Group=cmsuser
RuntimeDirectory=cms
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/cmsRankingWebServer

[Install]
WantedBy=cms.target
