[Unit]
Description=CMS Worker
PartOf=cms.target

[Service]
User=cmsuser
Group=cmsuser
RuntimeDirectory=cms

ExecStart=/usr/bin/cmsWorker

[Install]
WantedBy=cms.target
