[Unit]
Description=CMS ProxyService
PartOf=cms.target

[Service]
User=cmsuser
Group=cmsuser
RuntimeDirectory=cms

EnvironmentFile=-/etc/ioi-contest-id.env
EnvironmentFile=-/etc/cms_aws_access_key.env
ExecStart=/usr/bin/cmsProxyService -c $CMS_CONTEST_ID

[Install]
WantedBy=cms.target
