[Unit]
Description=Update CMS config
After=network-online.target
Wants=network-online.target
PartOf=cms.target
Before=cms-logservice.service cms-resourceservice.service cms-evaluationservice.service cms-scoringservice.service cms-contestwebserver.service cms-adminwebserver.service cms-worker.service cms-checker.service cms-proxyservice.service

[Service]
Type=oneshot
EnvironmentFile=-/etc/cms_aws_access_key.env
ExecStart=/usr/bin/ioi-update-cms-config

[Install]
WantedBy=cms.target
