[Unit]
Description=periodically update CMS config

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
RandomizedDelaySec=15

[Install]
WantedBy=timers.target
