global
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  maxconn 32768
  user nobody
  daemon
  nbthread 2
  log /dev/log local0 info

defaults
  timeout connect 5s
  timeout client 8h
  timeout server 8h
  retries    2
  log global
  default-server ca-file /etc/ssl/certs/ca-certificates.crt

resolvers dns
<%- node[:resolvers].each_with_index do |server, index| -%>
  nameserver dns<%= index %> <%= server %>:53
<%- end -%>
  resolve_retries 3
  timeout retry   1s
  hold valid      10s

listen elb_nginx_omniauth_adapter
  bind /run/haproxy/elb_nginx_omniauth_adapter.sock mode 666
  mode tcp
  balance roundrobin
  server elb1 nginx-omniauth-adapter.elb.ioi18.net:80 resolvers dns resolve-prefer ipv4

listen elb_cms_dev
  bind /run/haproxy/elb_cms_dev.sock mode 666
  mode tcp
  balance roundrobin
  server elb1 cms-dev.elb.ioi18.net:80 resolvers dns resolve-prefer ipv4

listen elb_cms_dev_admin
  bind /run/haproxy/elb_cms_dev_admin.sock mode 666
  mode tcp
  balance roundrobin
  server elb1 cms-dev-admin.elb.ioi18.net:80 resolvers dns resolve-prefer ipv4

listen elb_translation_prd
  bind /run/haproxy/elb_translation_prd.sock mode 666
  mode tcp
  balance roundrobin
  server elb1 translation-prd.elb.ioi18.net:80 resolvers dns resolve-prefer ipv4

listen elb_ioi_console
  bind /run/haproxy/elb_ioi_console.sock mode 666
  mode tcp
  balance roundrobin
  server elb1 ioi-console.elb.ioi18.net:80 resolvers dns resolve-prefer ipv4
