[Unit]
Description=Backup Contestant Machines

[Service]
Type=simple
Environment=TZ=Asia/Tokyo
StateDirectory=ioi-contestant-backup
ExecStart=/usr/bin/ioi-contestant-backup
Restart=always
RestartSec=1m

[Install]
WantedBy=multi-user.target
