[Unit]
Description=Ensure AWS credentials for CodeDeploy onpremises
Before=codedeploy-agent.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ioi-ensure-onpremise-codedeploy-credentials
