[Unit]
Description=Ensure AWS credentials for CodeDeploy onpremises
After=network-online.target
Wants=network-online.target
Before=codedeploy-agent.service

[Service]
Type=oneshot
ExecStart=/usr/bin/ioi-ensure-onpremise-codedeploy-credentials
StateDirectory=ioi-ensure-onpremise-codedeploy-credentials
