global
  chroot /var/lib/haproxy
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  maxconn 24576
  user nobody
  daemon
  log /dev/log local0 info

defaults
  timeout connect 5s
  timeout client 8h
  timeout server 8h
  retries    2
  log global

listen s3_apne1
  bind :10443
  mode tcp
  balance roundrobin
  server s3apne1 s3.dualstack.ap-northeast-1.amazonaws.com:443
