[Unit]
Description=Set hostname based on MAC address

[Service]
Type=oneshot
ExecStart=/usr/sbin/ioi-set-hostname

[Install]
WantedBy=multi-user.target
