[Unit]
Description=Collect CUPS metrics for prometheus
After=cups.socket

[Timer]
OnBootSec=60s
OnUnitInactiveSec=60s

[Install]
WantedBy=timers.target
